<section class="  border-primary   m-2"
         style="font-family: Tanha,serif;padding: 1rem;font-size: medium;line-height: 2em;border-radius: 1rem; ">
    <strong>دکتر کلابز</strong> ارائه دهنده برنامه های وفاداری <strong>(باشگاه مشتریان)</strong> در سطح کشور می
    باشد،<br> در
    دکتر کلابز سعی
    می شود با بررسی و
    آنالیز الگوههای موفق پروژههای باشگاه مشتریان به کسب و کارهای بهره بردار این سرویس بهترین پیشنهادات جهت راه اندازی
    برنامه های وفاداری ارائه گردد.
    <br>
    دانش فنی، تجربه، تیم متخصص، ارائه پشتیبانی مناسب، نمونه های اجرا شده موفق و بهره مندی از مدرنترین متدها، مزیتهای
    رقابتی دکتر کلابز می باشد.
</section>

<section class="     m-1"
         style="font-family: Tanha,serif;padding: 1rem;font-size: medium;line-height: 2em;border-radius: 1rem; ">


    <div class=" " style="display: inline-block">
        <span class="  ">
            <span style="vertical-align: middle" class="dashicons dashicons-marker text-primary "></span>
       <span class=" " style="color: #000;">
         دفتر مرکزی: رشت خیابان انقلاب کوچه گنجه ای ساختمان کسری طبقه سوم واحد ۹ آدرس تهران : شریعتی، ابتدای تراب، پلاک ۲۶۱
</span>
        </span>
        <div class="p-1" style="border-top: 2px solid red"></div>

        <span class="  ">
            <span style="vertical-align: middle" class="dashicons dashicons-format-chat text-primary "></span>

            <a class=" " style="text-decoration: none;color: #000;"
               href="https://aftabtabangroup.ir/login">پنل پشتیبانی</a>
        </span>
        <div class="p-1" style="border-top: 2px solid red"></div>
        <span class="  ">
            <span style="vertical-align: middle" class="dashicons dashicons-admin-site-alt3 text-primary "></span>

            <a class=" " style="text-decoration: none;color: #000;" href="https://drclubs.ir">www.drclubs.ir</a>
        </span>
        <div class="p-1" style="border-top: 2px solid red"></div>
        <span>
            <span style="vertical-align: middle" class="dashicons dashicons-instagram text-primary"></span>


            <a class=" " style="text-decoration: none;color: #000;" href="https://instagram.com/drclubs"> drclubs</a>
        </span>
        <div class="p-1" style="border-top: 2px solid red"></div>
        <span>
            <span style="vertical-align: middle" class="dashicons dashicons-phone text-primary"></span>
<span style=";color: #000;">
021-91300161 | 013-33310161 | 09120130161</span>

        </span>
        <div class="p-1" style="border-top: 2px solid red"></div>

    </div>


</section>
